<div class="container p-4 mt-5">
    <h1>PAINEL DE ADMINISTRAÇÃO</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-2 g-4 container col-md-8 offset-md-2 mb-3">

        <div class="col">
            <div class="card bg-dark  w-75 p-3">
                <a class="text-center text-secondary underline" href="/admin/user/list">
                    <i class="fa fa-users text-center mt-4 text-success fa-3x"></i>
                    <div class="card-body">
                        <h6 class="card-title text-center">UTILIZADORES</h6>
                        <p class="card-text text-center"></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark  w-75 p-3">
                <a class="text-center text-secondary underline" href="/admin/cliente/list">
                    <i class="fa fa-user-o text-center text-success mt-4 fa-3x"></i>
                    <div class="card-body">
                        <h6 class="card-title text-center">CLIENTES</h6>
                        <p class="card-text "></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark w-75 p-3 ">
                <a class="text-center text-secondary underline" href="/admin/os/list">
                    <i class="fa fa-list-alt text-success text-center mt-4 fa-3x"></i>
                    <div class="card-body">
                        <h6 class="card-title text-center">ORDEM DE SERVIÇO</h6>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark w-75 p-3">
                <a class="text-center text-secondary underline" href="/admin/status/list">
                    <i class="fa fa-calendar fa-3x text-success text-center mt-4"></i>
                    <div class="card-body">
                        <h6 class="card-title text-center">ESTADO DE OS</h6>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>