<section id="hero" class="d-flex flex-column container-fluid justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">BEM-VINDOS A <span>EMPRESA-X</span></h2>
                <p class="animate__animated fanimate__adeInUp">
                    Somos uma empresa de direito angolano com sede no Lubango, Província da Huíla-Angola.
                    Trabalhamos no ramo de reparação de vários equipamentos electrónicos.
                    A nossa maior preocupação é a satisfação dos nosso cliente.
                    Escolheu X então fez a melhor escolha que deveria fazer
                </p>
                <a href="/user/contact"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto">Contecte-nos </a>
            </div>
        </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section><!-- End Hero -->


<div class="container" style="background-image: url('https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');">
    <div class="row">
       <!-- <div class="col">
            <img src="https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=60" class="rounded" alt="...">
        </div>
        <div class="col order-5">
            <img src="https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=60" class="rounded" alt="...">
        </div>
        <div class="col order-1">
            <img src="https://images.unsplash.com/photo-1523289619259-44358ba02ba5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvbXB1dGVyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=60" class="rounded" alt="...">
        </div>-->
    </div>
   <div class="mt-4"></div>
</div>