<div class="container p-4 mt-5">
    <h1>ERRO 404</h1>
    <hr>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="lean"> A Ordem de Serviço que está a pesquisar não existe!</p>
            </blockquote>
            <figcaption class="blockquote-footer mt-4">
                Por favor, <cite title="Source Title"> verifique o número da sua <b class="">Ordem de Serviço</b> e
                    tente
                    novamente.</cite>
            </figcaption>
        </figure>

        <div class="mt-4"></div>
    </div>
</div>