<div class="container p-4 mt-5">
    <h1>SOBRE NÓS</h1>
    <hr />
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Empresa-X</h1>
            <p class="lead mt-4">Somos uma empresa de direito angolano com sede no Lubango, Província da Huíla-Angola.
                Trabalhamos no ramo de reparação de vários equipamentos electrónicos. A nossa maior preocupação é a
                satisfação dos
                nosso cliente. Escolheu X então fez a melhor escolha que deveria fazer.
            </p>
            <p class="lead">
                Entramos no mercado em 2017 e tudo começou com um simples problema técnico de um computador e hoje somos
                a maior empresa de <b><i>reparação de equipamentos</i></b> informáticos dentro da esfera local.
            </p>
            <a class="btn btn-lg btn-success mb-3" href="/user/contact" role="button">Contecte-nos »</a>
        </div>


    </main>
</div>